$color1: #ef9a9a;
$color2: #ffccbc;
$color3: #1a237e;
$color4: #b2dfdb;
$color5: #e8f5e9;
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {s
    background-color: $color2;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

a:hover {
    color: $color1;
}

#page2 {
    display: none;
}

.page {
    overflow-y: auto;
}

.classCode {
    text-align: right;
    margin-top: -1.5em;
}

hr.style-one {
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

#footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 10px;
    z-index: 99;
    opacity: 0.6;
}

#footer > span {
    font-size: medium;
    margin-left: -2em;
}

.floatingBtn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    opacity: 0.9;
    background-color: #e8e9eb !important;
    color: #101412 !important;
    font-weight: bolder !important;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 99;
}

#bgImg1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 40%;
    max-width: 60%;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}

#bgImg2 {
    position: fixed;
    left: 5%;
    top: 5%;
    min-width: 40%;
    max-width: 60%;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}

.bgColor1 {
    background-color: $color1;
}

.color1 {
    color: $color1;
}

.bgColor2 {
    background-color: $color2;
}

.color2 {
    color: $color2;
}

.bgColor3 {
    background-color: $color3;
}

.color3 {
    color: $color3;
}

.bgColor4 {
    background-color: $color4;
}

.color4 {
    color: $color4;
}

.bgColor5 {
    background-color: $color5;
}

.color5 {
    color: $color5;
}
