body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background: rgb(220, 238, 253);
}

#lastUpdateBlock {
    flex: 1;
    width: 100%;
    background: rgb(48, 79, 92);
    color: aliceblue;
    font-size: 1.5em;
    padding-top: .4em;
    padding-bottom: .4em;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
}

#packageContainer {
    width: 100%;
    flex: 1;
    border-radius: .5em;
}

.package {
    display: block;
    width: 80%;
    height: 4em;
    margin: auto;
    margin-bottom: 1em;
    background: rgb(65, 94, 119);
    color: black;
    font-size: 1em;
    padding: 1em;
    border-radius: .5em;
}

.to {
    position: absolute;
    font-size: 2em;
    left: 25%;
    color: aliceblue;
    transform: translate(0em, .4em);
}

.from {
    position: absolute;
    font-size: 1em;
    right: 12%;
    color: aliceblue;
}

.room {
    position: absolute;
    font-size: 1em;
    color: aliceblue;
    left: 12%;
}

.color {
    position: absolute;
    font-size: 1em;
    right: 12%;
    color: aliceblue;
    transform: translate(0em, 3em);
}