html body {
  background: #eee;
}
.liquidFillGaugeText {
  font-weight: bold;
}
.reservoir {
  display: inline-block;
  min-width: 250px;
  margin: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  border: 3px dashed gray;
  border-radius: 1rem;
}
.reservoir svg {
}
.name {
  text-align: center;
}
.reservoir span {
  padding-top: 5px;
  margin-top: 5px;
  line-height: 2em;
}
.reservoir-wrap {
  width: 100%;
  margin: 30px auto;
}
.red {
  background: rgb(238 68 68);
  color: aliceblue;
}
.blue {
  background: rgb(23, 139, 202);
  color: aliceblue;
}
.gray{
  background: rgb(83, 83, 83);
  color: aliceblue;
}
.links {
  position: relative;
  padding: 10px;
  padding-bottom: 9px;
  margin: 10px 0 20px;
}
.data-src {
  clear: right;
}
a {
  color: #337ab7;
  text-decoration: blink;
}
.note {
  font-size: 14px;
}
.links button {
  margin-left: 20px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.reservoir h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.reservoir>.name>.district{
  margin-bottom: .5rem;
}
.reservoir h5 {
  margin-top: 5px;
  position: relative;
  left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
.state {
  border-radius: 0.3rem;
  padding: 0.2rem 0 0.2rem 0;
  margin-top: .5rem;
}
.reservoir h5 {
  margin-bottom: 0;
}
.volumn {
  display: none;
}
.dueDay {
  display: none;
}
.updateAt > h5 {
  font-size: 0.7rem;
  transform: translate(1rem, 0);
}
.title__wrapper{
  text-align: center;
}
#description{
  display: block;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.tag {
  padding: 0 0 0 1rem;
  margin: 0 1rem 1rem 0;
  font-size: 0.6rem;
}
.floatArea{
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: .2rem .8rem;
  color: white;
  background: gray;
  border-radius: 1rem;
  opacity: 0.5;
}