html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  background-color: #1c1e23;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  overflow-y: scroll;
  font-weight: bolder;
}

.modal-content,
.modal-header,
.modal-body {
  border: 0 !important;
}

.modal-header {
  background-color: #242526 !important;
  color: #b0b3b8;
  font-weight: bolder;
}

.modal-body {
  background-color: #1c1e23;
  font-weight: bolder;
}

.modal-content {
  height: 100%;
}

#einvoiceImg > *,
#memberImg > * {
  height: auto;
  width: 100%;
}

.hr {
  border-bottom-style: solid;
  border-color: #333;
  border-bottom-width: 1px;
  padding: 5px;
}

.hr > * {
  color: #e4e6eb !important;
  margin: 0 !important;
}

.close {
  color: #b0b3b8 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.cardSec {
  width: 85%;
  background-color: #fff !important;
  color: #e4e6eb;
  overflow-x: auto;
  font-weight: bolder !important;
  padding: 1em;
}

.StoreTag {
  color: #1c1e23;
  overflow-x: auto;
  font-weight: bolder !important;
  padding: 1.5em !important;
}

.StoreTag > * {
  width: max-content;
  font-size: larger;
}

.tabs * {
  color: #242526;
}

#einvoiceImg,
#memberImg {
  margin-top: 1em;
}

.rounded {
  border-radius: 1em !important;
}

.floatingBtn {
  position: fixed;
  width: 4em;
  height: 4em;
  bottom: 1.5em;
  right: 1.5em;
  background-color: rgb(255 255 255 / 10%) !important;
  color: #e4e6eb !important;
  font-weight: bolder !important;
  border-radius: 50px;
  text-align: center;
  z-index: 99;
}

.member,
.note {
  opacity: 0.3;
}

.bold {
  font-weight: bolder;
}

.bgColor1 {
  background-color: #242526;
}

.color1 {
  color: #242526;
}

.bgColor2 {
  background-color: #1c1e23;
}

.color2 {
  color: #1c1e23;
}

.bgColor3 {
  background-color: #b0b3b8;
}

.color3 {
  color: #b0b3b8;
}

.bgColor4 {
  background-color: #e4e6eb;
}

.color4 {
  color: #e4e6eb;
}

.bgColor5 {
  background-color: rgb(255 255 255 / 10%);
}

.color5 {
  color: rgb(255 255 255 / 10%);
}

.scannerImg {
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0px;
  z-index: -2;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 256, 1);
}

#bgImg1 {
  position: fixed;
  right: 15%;
  bottom: 0;
  min-width: 40%;
  max-width: 60%;
  height: auto;
  opacity: 0.5;
  z-index: -3;
}

#bgImg2 {
  position: fixed;
  left: 5%;
  top: 5%;
  min-width: 40%;
  max-width: 60%;
  height: auto;
  opacity: 0.5;
  z-index: -4;
}

#popupImg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 100;
}

#simulateBtn {
  position: fixed;
  right: 0;
  top: 0;
}
