html,
body {
    background: #eff1f3;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #eff1f3;
    color: aliceblue;
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    #nowGeo {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        color: gray;
        font-size: 1.5rem;
    }
    #pauseBtn {
        display: none;
        position: fixed;
        right: 2rem;
        bottom: 2.5rem;
        width: 3rem;
        height: 3rem;
        padding: 0.2rem;
        background: #252424;
        border: aliceblue solid 2px;
        border-radius: 50%;
        z-index: 100;
        .fas {
            position: absolute;
            transform: translate(35%, 25%);
            font-size: 2rem;
        }
    }
    #menuBtn {
        position: fixed;
        right: 2rem;
        bottom: 2.5rem;
        width: 3rem;
        height: 3rem;
        padding: 0.2rem;
        background: #252424;
        border: aliceblue solid 2px;
        border-radius: 50%;
        z-index: 100;
        .fas {
            position: absolute;
            transform: translate(35%, 25%);
            font-size: 2rem;
        }
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 1.5rem;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    background: rgba(29, 53, 65, 0.3);
    label {
        font-size: 2rem;
        font-weight: lighter;
    }
    #targetGeo {
        width: 90%;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        border-style: none;
    }
    #startTrackingDistance {
        width: 94%;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 0.5rem;
        border-style: none;
        background: #9ee0ff;
    }
    #roundDistanceDisplay {
        margin: 1rem;
        font-size: 3.5rem;
        font-weight: bolder;
    }
    #distanceDisplay {
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 85%;
    height: auto;
    transform: translate(-50%, -50%);
    border: #252424 solid 2px;
    border-radius: 1rem;
    z-index: 103;
    .header {
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        background: #525252;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    .body {
        padding: 1rem;
        background: #e4dfda;
        text-align: center;
        font-size: 2rem;
        border-radius: 0rem 0rem 1rem 1rem;
        textarea {
            width: 100%;
            height: 15rem;
            font-size: 1.5rem;
            resize: none;
        }
        button {
            padding: 0.2rem;
            color: aliceblue;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            border-style: none;
            &.confirm {
                position: relative;
                left: 0px;
                width: 40%;
                margin: 0em 0.5em 0em 0em;
                background: #4357ad;
                font-weight: bold;
            }
            &.cancel {
                position: relative;
                right: 0px;
                width: 40%;
                margin: 0em 0em 0em 0.5em;
                background: #c1666b;
            }
        }
    }
    &#storePlaceModal {
        display: none;
    }
}

.popupList {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 102;
    .header {
        button {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.2rem;
            margin: 0.8rem;
            border-radius: 1rem;
            color: aliceblue;
            font-size: 2rem;
            border-radius: 0.5rem;
            border-style: none;
            &.add {
                position: relative;
                left: 0px;
                background: #4357ad;
                color: aliceblue;
            }
            &.dismiss {
                position: absolute;
                right: 0px;
                background: #c1666b;
            }
        }
    }
    .body {
        width: 100%;
        height: 100%;
        color: #252424;
        text-align: center;
        ul {
            width: 80%;
            height: 70%;
            padding: 0px;
            margin: 0 auto 0 auto;
            text-align: center;
            list-style: none;
            overflow-y: auto;
            li {
                padding: 0.5rem;
                border-bottom: #252424 2px dashed;
                font-size: 1.5rem;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    &#selectPlaceStored {
        display: none;
    }
}
