html,
body {
  background: #EFF1F3;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #EFF1F3;
  color: aliceblue;
}

body input:focus,
body select:focus,
body textarea:focus,
body button:focus {
  outline: none;
}

body #nowGeo {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  color: gray;
  font-size: 1.5rem;
}

body #pauseBtn {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2.5rem;
  width: 3rem;
  height: 3rem;
  padding: .2rem;
  background: #252424;
  border: aliceblue solid 2px;
  border-radius: 50%;
  z-index: 100;
}

body #pauseBtn .fas {
  position: absolute;
  -webkit-transform: translate(35%, 25%);
          transform: translate(35%, 25%);
  font-size: 2rem;
}

body #menuBtn {
  position: fixed;
  right: 2rem;
  bottom: 2.5rem;
  width: 3rem;
  height: 3rem;
  padding: .2rem;
  background: #252424;
  border: aliceblue solid 2px;
  border-radius: 50%;
  z-index: 100;
}

body #menuBtn .fas {
  position: absolute;
  -webkit-transform: translate(35%, 25%);
          transform: translate(35%, 25%);
  font-size: 2rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  background: rgba(29, 53, 65, 0.3);
}

.container label {
  font-size: 2rem;
  font-weight: lighter;
}

.container #targetGeo {
  width: 90%;
  padding: .5rem;
  margin: .5rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: .5rem;
  border-style: none;
}

.container #startTrackingDistance {
  width: 94%;
  padding: .5rem;
  margin: .5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: .5rem;
  border-style: none;
  background: #9ee0ff;
}

.container #roundDistanceDisplay {
  margin: 1rem;
  font-size: 3.5rem;
  font-weight: bolder;
}

.container #distanceDisplay {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 85%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: #252424 solid 2px;
  border-radius: 1rem;
  z-index: 103;
}

.modal .header {
  padding: .5rem 1rem .5rem 1.5rem;
  background: #525252;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem 1rem 0rem 0rem;
}

.modal .body {
  padding: 1rem;
  background: #E4DFDA;
  text-align: center;
  font-size: 2rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.modal .body textarea {
  width: 100%;
  height: 15rem;
  font-size: 1.5rem;
  resize: none;
}

.modal .body button {
  padding: .2rem;
  color: aliceblue;
  font-size: 1.5rem;
  border-radius: .5rem;
  border-style: none;
}

.modal .body button.confirm {
  position: relative;
  left: 0px;
  width: 40%;
  margin: 0em .5em 0em 0em;
  background: #4357AD;
  font-weight: bold;
}

.modal .body button.cancel {
  position: relative;
  right: 0px;
  width: 40%;
  margin: 0em 0em 0em .5em;
  background: #C1666B;
}

.modal#storePlaceModal {
  display: none;
}

.popupList {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 102;
}

.popupList .header button {
  width: 2.5rem;
  height: 2.5rem;
  padding: .2rem;
  margin: .8rem;
  border-radius: 1rem;
  color: aliceblue;
  font-size: 2rem;
  border-radius: .5rem;
  border-style: none;
}

.popupList .header button.add {
  position: relative;
  left: 0px;
  background: #4357AD;
  color: aliceblue;
}

.popupList .header button.dismiss {
  position: absolute;
  right: 0px;
  background: #C1666B;
}

.popupList .body {
  width: 100%;
  height: 100%;
  color: #252424;
  text-align: center;
}

.popupList .body ul {
  width: 80%;
  height: 70%;
  padding: 0px;
  margin: 0 auto 0 auto;
  text-align: center;
  list-style: none;
  overflow-y: auto;
}

.popupList .body ul li {
  padding: .5rem;
  border-bottom: #252424 2px dashed;
  font-size: 1.5rem;
}

.popupList .body ul li:last-child {
  border-bottom: none;
}

.popupList#selectPlaceStored {
  display: none;
}
/*# sourceMappingURL=style.css.map */