html,
body,
#app {
	width: 100%;
	height: 100%;
}

textarea {
	font-size: x-large;
}

#app {
	background-color: #C9CCD0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	overflow-y: scroll;
}

#bgImg1 {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 40%;
	max-width: 60%;
	height: auto;
	opacity: 0.2;
	z-index: -3;
}

#bgImg2 {
	position: fixed;
    left: 5%;
	top: 5%;
	min-width: 40%;
	max-width: 60%;
	height: auto;
	opacity: 0.2;
	z-index: -4;
}

.rounded {
    border-radius: 1em!important;
}

.floatingBtn {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #E8E9EB !important;
	color: #101412 !important;
	font-weight: bolder !important;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.modal-body {
	background-color: #B2DFDB;
}

.einvoice>.einvoiceImg {
	width: 100%;
	height: auto;
}

.member>.memberImg {
	width: 100%;
	height: auto;
	opacity: 0;
}

.coupon>.couponImg {
	width: 100%;
	height: auto;
	opacity: 0;
}

.member {
	opacity: 0.1;
}

.coupon {
	opacity: 0.1;
}

.profile {
	opacity: 0.1;
}

.bold {
	font-weight: bolder;
}

.bgColor1 {
	background-color: #CE8467;
}

.color1 {
	color: #CE8467;
}

.bgColor2 {
	background-color: #838BB2;
}

.color2 {
	color: #838BB2;
}

.bgColor3 {
	background-color: #EECFBB;
}

.color3 {
	color: #EECFBB;
}

.bgColor4 {
	background-color: #CACFE3;
}

.color4 {
	color: #CACFE3;
}

.bgColor5 {
	background-color: #838BB2;
}

.color5 {
	color: #838BB2;
}