body {
  margin: 0;
}

.panel .left,
.panel .right {
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem 0.3rem 0.5rem 0.7rem;
  margin: 4vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffffffbb;
  border-radius: 1rem;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  font-size: 1rem;
  z-index: 6;
}

.panel .left {
  left: 0;
}

.panel .right {
  right: 0;
}

.poem > marquee {
  position: absolute;
  left: 50%;
  max-width: 90%;
  min-height: 100%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2;
}

section {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(circle, #fff 0%, #aaa 70%, #444 100%);
  display: none;
  overflow-y: auto;
}

section .piece > img {
  position: absolute;
  left: 45%;
  top: 60%;
  max-width: 50vw;
  max-height: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  outline: 30px #cd7f32 solid;
  outline-style: groove;
  z-index: 3;
  -webkit-animation: fromTop 0.5s 0s ease-out;
          animation: fromTop 0.5s 0s ease-out;
}

section .piece:before, section .piece:after {
  position: absolute;
  left: 45%;
  height: 50%;
  width: 1px;
  background: black;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  content: "\A0";
  z-index: 1;
  -webkit-animation: fromTop 0.5s 0s ease-out;
          animation: fromTop 0.5s 0s ease-out;
}

section .piece:before {
  margin-left: -7%;
}

section .piece:after {
  margin-left: 7%;
}

section .intro {
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 1rem;
  min-width: 10rem;
  min-height: 5rem;
  max-width: 15rem;
  max-height: 15rem;
  background: #fff;
  z-index: 5;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

.intro {
  -webkit-animation: fromRight 0.5s 0s ease-out;
          animation: fromRight 0.5s 0s ease-out;
}

.intro .name {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
}

.intro .author {
  display: inline-block;
  font-size: 0.8rem;
}

.intro .description {
  display: inline-block;
  padding: 1rem 0.5rem 0em;
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
}

.thanks {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.thanks h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.thanks h2 {
  font-size: 1rem;
  font-weight: 500;
}

@-webkit-keyframes fromTop {
  from {
    margin-top: -200px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes fromTop {
  from {
    margin-top: -200px;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes fromRight {
  from {
    margin-right: -200px;
  }
  to {
    margin-right: 0;
  }
}

@keyframes fromRight {
  from {
    margin-right: -200px;
  }
  to {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */